<p>
  instances works!
</p>
<table class="instances">
<thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Type</th>
    <th>Class</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let instance of instances" 
  [class.selected]="instance === selectedInstance"
  (click)="onSelect(instance)">
  <td>{{instance.id}}</td>
  <td>{{instance.name}}</td>
  <td>{{instance.type}}</td>
  <td>{{instance.class}}</td>
  </tr>
</tbody>
</table>
<div *ngIf="selectedInstance">
  <h2>{{selectedInstance.name}} details!</h2>
  <div><label>id: </label>{{selectedInstance.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="selectedInstance.name" placeholder="name"/>
  </div>
</div>